/* @import "./reset.css"; */

body {
  background-color: green;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding: 50px;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border: 3px solid red;
}
